<p id="notice"><%= notice %></p>

<h1>Useras</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @useras.each do |usera| %>
      <tr>
        <td><%= link_to 'Show', usera %></td>
        <td><%= link_to 'Edit', edit_usera_path(usera) %></td>
        <td><%= link_to 'Destroy', usera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usera', new_usera_path %>
